
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.card:hover{
  background-color: #3d0c02;
  color: aliceblue;
  transform: scale(1.1); 


}

.black{
  background-color: #080808;
}
.white{
  background-color: #fdf5e6;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}

code {
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 1000px) {
  .mobile {
    display: none;
  }
}